#main-header {
    background-color: #4b4747 !important;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

#header-title {
    margin: 0; 
    font-family: Roboto !important;
}

#filter {
    margin-top: 10px;
}

#addForm {
    display: flex;
    gap: 10px;
}

#items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.delete {
    background-color: red;
    color: white;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
}

.delete:hover {
    background-color: darkred;
}

body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

th {
    text-align: -webkit-match-parent;
    text-align: match-parent;
}

#items li:nth-child(odd) {
    background-color: #f4f4f4;
}

